html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url(/fonts/Sofia\ Pro\ Regular\ Az.otf\ Az.otf);
    font-family: Sofia Pro Bold;
    src: url(/fonts/Sofia\ Pro\ Black\ Az.otf);
}

* {
    box-sizing: border-box;
    font-family: Sofia Pro, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    margin: 0;
    margin-top: 6vh;
}

header {
    z-index: 1000;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#ff5c00;
    width: 100%;
}

main {
    background-color: aquamarine;
    line-height: 1.7em;
    color: #171A21;
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-start;
    align-items: stretch;
}

h1 {
    font-family: Sofia Pro Bold;
    line-height: 1.27em;
}

nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    align-content: flex-end;
}

nav a {
    color: white;
    padding: 2em 1.5em;
    text-decoration: none;
  }

.nav-text {
    margin-right: 1em;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-image {
    margin: 0 0 0.3vw 0.3vw;
    width: 4.5em;
}

.nav-text:hover,
nav a:hover,
.dropdown:hover .dropbtn {
    background-color: aliceblue;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-button {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 600;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.copyright-favicon {
    width: 1em;
}

.w-col-1 {
    width: 40%;
}

.w-col-2 {
    width: 60%
}

.w-col {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #ff5c00;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.8em 10em;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
}

.footer-item {
    text-decoration: none;
    color: black;
}

.footer-item:hover {
    text-decoration: underline;
}

