html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Sofia Pro Regular;
    src: url(fonts/Sofia\ Pro\ Regular\ Az.otf\ Az.otf);
    font-family: Sofia Pro Bold;
    src: url(fonts/Sofia\ Pro\ Black\ Az.otf);
}

body {
    margin: 0;
    font-family: Sofia Pro, sans-serif;
    color: #171A21;
    font-size: 18px;
    cursor: auto;
}

nav {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.copyright-icon {
    position: absolute;
    left: 9.5em;
    top: auto;
    right: auto;
    bottom: 2.5em;
    width: 2em;
}

.index-title {
    height: auto;
    margin-top: 2.8em;
    margin-bottom: 20vw;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 3.8em;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-family: Sofia Pro Bold;
    line-height: 1.27em;
}